html {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;

}

main {
  flex: 1;
}

header {
  background-color: rgb(255, 128, 0);
  height: 100px;
  width: 100%;
}

.headerImg {
  height: 64px;
  margin: 10px;
}
footer {
  display:flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: rgb(255, 128, 0);
  height: 80px;
  width: 100%;
}

.footer-inner {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:baseline;
  width:100%;
}

footer img {
  height: 64px;
  margin: 0px;
}

footer span {
  text-align:center;
}

#rating {
  color: brown;
}

.top-logo-round {
  display: flex;
  justify-content: center;
 
  position: relative;
  bottom: 95px;
}
.top-logo-round img {
  border-radius: 50%;
  filter: drop-shadow(0px 10px 10px grey);
  flex-shrink: 1;
}

#restaurant_bg_top {
  background-image: url("./assets/img/food-banner.png");
  background-size: cover;
  background-position: bottom;
  height: 250px;
}
