/* ===================================
   O S W A L D  (Variable Font)
   =================================== */

@font-face {
  font-family: "Oswald";
  src: url("fonts/Oswald/Oswald-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* gesamte Weight-Range nutzbar */
  font-style: normal;
  font-display: swap;
}



/* ===================================
   R A L E W A Y  (Variable Font)
   =================================== */

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}



/* ===================================
   P T   S A N S  (klassische TTFs)
   =================================== */

@font-face {
  font-family: "PT Sans";
  src: url("fonts/PT_Sans/PTSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("fonts/PT_Sans/PTSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("fonts/PT_Sans/PTSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("fonts/PT_Sans/PTSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
